[user]
	name = Gareth du Plooy
	email = gduplooy@gmail.com
[mergetool]
  keepBackup = true

[hub]
  protocol = https
[core]
  editor = vim
	commitGraph = true
	excludesfile = /Users/garethduplooy/.gitignore_global
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  amend = commit --amend --no-edit
  pfo = push --force-with-lease origin
  rhh = reset HEAD --hard
  p = pull

[push]
  default = simple
[pull]
  rebase = true
[color]
  ui = true

[diff]
	algorithm = patience
[protocol]
	version = 2
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[pager]
	branch = false
[gc]
	writeCommitGraph = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper =
	helper = store --file /opt/dev/var/private/git_credential_store
